/* Banner */
#banner {
  width: 100vw;
  height: 540px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
}

.banner-content {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
  color: white;
}

.banner-text {
  max-width: 500px;
}

.banner_text h1 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 50px;
}

.learn-more-btn {
  display: inline-flex;
  align-items: center;
  background: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid white;
  margin-top: 20px;
}

.learn-more-btn:hover {
  background: black;
  color: white;
  border: 2px solid white;
}

p {
  margin-top: 20px;
}