.exhibitions-page {
  margin-top: 0px;
  min-height: 100vh;
  background-color: white;
}

.container {
  padding: 60px 120px;
  max-width: 1440px;
  margin: 0 auto;
}

.container h1 {
  font-size: 42px;
  margin-bottom: 40px;
}

.container h2 {
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin: 0 auto;
}


.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


.exhibition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 40px;
}

.exhibition-hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.exhibition-hero-content {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.exhibition-hero-title {
  color: rgb(244, 183, 31);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  font-family: "Noto Serif SC", serif;
}