.studies_banner {
  width: 100vw;
  height: 140px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 800px;
  margin-top: 110px;
}

.studies_banner h3 {
  color: #812918;
  font-size: 30px;
  line-height: 40px;
}

.studies_main_box {
  width: 1100px;
  margin: 60px auto;
}

.studies_main_box h3 {
  font-size: 30px;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.studies_main_txt {
  padding: 20px;
}

.studies_main_txt .wenhua {
  float: left;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.studies_main_txt p {
  text-indent: 2rem;
  line-height: 2em;
  color: #333;
  margin-bottom: 20px;
}

.history_main_box {
  width: 1100px;
  margin: 60px auto;
}

.history_main_box h3 {
  font-size: 30px;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.history_main_txt {
  padding: 20px;
}

.history_main_txt p {
  text-indent: 2rem;
  line-height: 2em;
  color: #333;
  margin-bottom: 20px;
}

body {
  background-color: white;
}

.studies_main_box,
.history_main_box {
  background-color: white;
  color: black;
}